#menu-toggle {
  display: none;
}

#filter-input {
  display: none;
}

.content section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #3F3F41;
}

.content h2, .content h3 {
  font-weight: bold;
}

.content section p {
  margin: 16px 0;
}

.content section .quiet {
  opacity: .7;
  margin-top: 8px;
  padding: 8px 0;
  line-height: 30px
}

.bg-menu {
  width: 2000px;
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #2C2E31
}

.nav-bar-2,
.label,
hr {
  z-index: 2;
}

.submenu {
  margin: 12px 0 0 14px;
}

.submenu ul  {
  margin-top: 14px;
}

.submenu ul:first-of-type {
  margin-top: 0;
}

.menu-item-submenu.title {
  font-size: 14px;
  opacity: .7;
  margin-left: -18px;
}

.content section .code-line {
  margin: 16px 0;
}

.anchorjs-link {
  margin-top: 3px;
}

.display-none {
  display: none;
}

.element-member {
  margin-bottom: 5px;
}

.toggle-sibling:hover {
  cursor: pointer;
}
